!/.temp/.htaccess
!/themes/admin/index.php
!/themes/front/index.php
/.temp/
/log/
/themes/admin/
/themes/front/
/uploads/
/vendor/
/config/
!/config/site.example.php
!/config/database.example.php
Rudolf.sublime-workspace
