/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	overflow-y: scroll;
	padding-top: 50px;
}

textarea {
	height: 150px;
}
select {
	background:#fff;color:#000;border:0px
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
.nav > .active > a:hover {
	background-color: #5496cf
}
.nav-sidebar > li > ul.nav-sidebar > li > a {
	margin-left: 30px;
	margin-right: 22px;
	margin-bottom: -20px;
}
span.s {
	margin-left:13px;
}

span.b {
	margin-left:7px;
}
span.d {
	margin-left:7px;
	margin-right:7px;
}
.wrap_ {
	max-width:310px;
}

 .wrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 98%;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 500px) {
	span.input-group-addon {
		display:none;
	}
	
}
.main .page-header {
  margin-top: 0;
}

#actions {
      margin: 2em 0;
    }


    /* Mimic table appearance */
    div.table {
      display: table;
    }
    div.table .file-row {
      display: table-row;
    }
    div.table .file-row > div {
      display: table-cell;
      vertical-align: top;
      border-top: 1px solid #ddd;
      padding: 8px;
    }
    div.table .file-row:nth-child(odd) {
      background: #f9f9f9;
    }



    /* The total progress gets shown by event listeners */
    #total-progress {
      opacity: 0;
      transition: opacity 0.3s linear;
    }

    /* Hide the progress bar when finished */
    #previews .file-row.dz-success .progress {
      opacity: 0;
      transition: opacity 0.3s linear;
    }

    /* Hide the delete button initially */
    #previews .file-row .delete {
      display: none;
    }

    /* Hide the start and cancel buttons and show the delete button */

    #previews .file-row.dz-success .start,
    #previews .file-row.dz-success .cancel {
      display: none;
    }
    #previews .file-row.dz-success .delete {
      display: block;
    }